
.srajfon {
  background: #3e3c3f;
  width: 300px;
  min-height: 470px;
  max-height: 470px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.2px;
}

.kontakt {
  position: relative;
  width: 300px;
  height: 70px;
  padding: 10px 18px;
  display: flex;
}

.aveczek {
  max-width: 70px;
  max-height: auto!important;
  border-radius: 40px;
  border: 0.5px solid #716477;
  margin-right: 15px;
}

.imko {
color: #af95c6;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 25px;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.dopisek {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #a9a6ab;
  top: -15px;
}

.pudlo {
  display: block;
  clear: both;
  height: 305px;
  padding: 15px 15px 15px 45px;
  background: #201d22;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 0px inset;
  color: #a9a6ab;
  overflow-y: auto!important;
  border-top: 0.5px solid #4b494d;
  border-bottom: 0.5px solid #4b494d;
}

.pudlo>div {
  clear: both;
}

.dymek {
  display: block;
  float: right;
  width: auto;
  text-align: left;
  min-height: 20px;
  padding: 10px 15px;
  background-image: linear-gradient(to right, rgb(72 69 72), rgb(96 93 120));
  border-radius: 8px;
  margin-bottom: 15px;
}

.stopencja {
  width: 300px;
  padding: 10px 15px;
  color: #5a585c;
}

.stopencja::after {
  position: absolute;
  content:'\ebcb';
font-family:'cappuccicons';
font-size: 18px;
  left: 270px;
  color: #af95c6;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
  
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')


<script src="//pull.cappuccicons.com/cpf.js"></script> 
